.header {
  display: grid;
  grid-template-columns: 1fr 220px 1fr;
  width: 100vw;
  max-height: 72px;
  height: 7vh;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  padding: 0 40px;
  z-index: 99;
  transition: all 0.5s ease-in-out;
}

.header:hover .basket {
  /* animation: 7s basket ease-in infinite; */
  /* transition: all 0.5s ease-in; */
}

.header:hover {
  background-color: rgb(255 255 255 / 38%);
  transition: all 0.5s ease-in;
}

.header:hover .search {
  border: 1px solid;
  border-left: none;
  background-color: rgb(255, 255, 255);
}

.header:hover .controls::before {
  border: 1px solid;
  border-right: none;
  background-color: rgb(255, 255, 255);
}

.nav {
  /* padding-left: 30px; */
  font-weight: 400;
}

.catalogue {
}

.menu {
}

.menu__catalogue {
}

.menu__top {
}

.menu__bottom {
}

.logo {
  width: 188px;
  height: 51px;
  background-image: url(../../assets/img/logoMoon.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.controls {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid transparent;
}

.controls input {
  width: 240px;
  height: 30px;
  border: none;
  background-color: rgb(241 241 241);
}

.search {
  display: flex;
  border: 1px solid transparent;
  width: 14vw;
  height: 100%;
}

.search:focus-visible {
  outline: none;
}

.controls::before {
  content: "";
  display: inline;
  width: 32px;
  height: 32px;
  background-image: url(../../assets/img/search.png);
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-color: rgb(241, 241, 241);
  background-position: 7px;
}

.user {
  background-image: url(../../assets/img/user.png);
}

.basket {
  background-image: url(../../assets/img/shopping-bag.png);
}

.favorite {
  /* animation: 10s basket ease-in-out infinite; */
  background-image: url(../../assets/img/star.png);
}

.icon-btn_header {
  width: 30px;
  height: 30px;
  margin: 0 0 0 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

button {
  background-color: transparent;
  padding-right: 10px;
}

@keyframes basket {
  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
