.wrapper_slider_products {
  width: 78vw;
  height: 450px;
  max-width: 1900px;
  padding-bottom: 20px;
  /* background-color: aqua; */
}

.wrapper_slider_products .swiper {
}

.wrapper_slider_products .swiper-creative {
}

.wrapper_slider_products .swiper-3d {
}

.wrapper_slider_products .swiper-initialized {
  height: 400px;
  /* max-width: 1920px; */
  width: 78vw;
  /* padding-left: 10px; */
}

.wrapper_slider_products .swiper-horizontal {
}

.wrapper_slider_products .swiper-watch-progress {
}

.wrapper_slider_products .swiper .swiper-wrapper {
  /* gap: 3px; */
  width: auto;
}

.wrapper_slider_products .swiper .swiper-wrapper .swiper-slide {
  box-sizing: border-box;
  height: 400px;
}

.wrapper_slider_products .swiper .swiper-wrapper .swiper-slide .photo {
  background-position: center;
  width: 300px;
  height: 300px;
}

.wrapper_slider_products .swiper .swiper-wrapper .swiper-slide h3 {
  color: black;
  width: 260px;
  height: 55px;
  padding: 0;
  margin: 5px;
  text-align: center;
}

.wrapper_slider_products .swiper .swiper-wrapper .swiper-slide .price {
  margin: 5px;
  text-align: center;
  width: 100%;
  height: auto;
}

.wrapper_slider_products .swiper .swiper-wrapper .swiper-slide-visible {
}

.wrapper_slider_products .swiper .swiper-wrapper .swiper-slide-active {
  background-color: transparent;
}

.wrapper_slider_products .swiper-button-prev,
.wrapper_slider_products .swiper-button-next {
  width: 32px;
  height: 30px;
  margin-top: calc(var(--swiper-navigation-size) - 115px);
}
.wrapper_slider_products .swiper-button-prev::after,
.wrapper_slider_products .swiper-button-next::after {
  content: "";
  height: 100%;
  width: 100%;
  background-size: 100%;
  border-radius: 50%;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper_slider_products .swiper-button-prev::after {
  background-image: url(../../assets/img/arrow-narrow-left.png);
}
.wrapper_slider_products .swiper-button-next::after {
  background-image: url(../../assets/img/arrow-narrow-right.png);
}

.wrapper_slider_products .swiper .swiper-notification {
}
