.layout__content {
  /* background-color: lawngreen; */
  max-width: 1920px;
  max-height: 700px;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

/* НАПИСАТЬ НА GRID */

.banner-list {
  display: grid;
  grid-template-columns: repeat(4, calc(80vw / 4));
  /* width: 90%;
  height: 90%;
  background-color: antiquewhite; */
}

.banner-list__item {
  margin: 0 auto;
}

.editable-block {}

.no-text {}

.img-ratio {
  max-width: 350px;
  width: 17vw;
  height: 45vh;
  max-height: 440px;
  /* background-color: antiquewhite; */
  box-sizing: border-box;
  /* border: 1px solid; */
}

.img-ratio_cover {}

.banner-list__item-photo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

.banner-list__item-title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: black;
  /* background-color: darkgray; */
}

.after_title::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 12px;
  text-align: center;
  color: black;
  background-image: url(../../assets/img/right.png);
  background-size: 15px 12px;
  background-repeat: no-repeat;
  position: relative;
  left: calc(50% - 7.5px);
}